
@{
    ViewBag.Title = "Index";
}

@*<h2>@ViewBag.Message</h2>*@
<h2>Company Information</h2>
<h2>Company Name        :@ViewBag.Com</h2>
<h2>Founder             :@ViewBag.Com</h2>
<h2>Address             :@ViewBag.Com</h2>

